<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SqueezingBrainsAtlas/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,644},{68,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,92}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>SqueezingBrainsAtlas/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{40,92}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{40,92}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>SqueezingBrainsAtlas/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,644},{68,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,92}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>SqueezingBrainsAtlas/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,644},{68,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,92}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>SqueezingBrainsAtlas/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,644},{64,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>SqueezingBrainsAtlas/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,644},{66,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{66,92}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>SqueezingBrainsAtlas/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,644},{64,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>SqueezingBrainsAtlas/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,644},{66,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{66,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>SqueezingBrainsAtlas/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{68,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,92}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>SqueezingBrainsAtlas/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,644},{60,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,92}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>SqueezingBrainsAtlas/addition.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,644},{64,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>SqueezingBrainsAtlas/blackboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>SqueezingBrainsAtlas/check_solution.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,144},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,36}</string>
            </dict>
            <key>SqueezingBrainsAtlas/check_solution_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,96},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,36}</string>
            </dict>
            <key>SqueezingBrainsAtlas/division.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,644},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>SqueezingBrainsAtlas/equals.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,644},{64,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{64,52}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>SqueezingBrainsAtlas/multiplication.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,644},{62,66}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{62,66}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>SqueezingBrainsAtlas/next_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,644},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>SqueezingBrainsAtlas/subtraction.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,192},{60,20}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,36},{60,20}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>squeezingbrains-hd.png</string>
            <key>size</key>
            <string>{1006,738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8066ed0b2ab5435271ce3e1dd7b94ef0:67ab479731be23cb2ac86808bbb546f3:5c8997a226ece13f80c3b6832ae98877$</string>
            <key>textureFileName</key>
            <string>squeezingbrains-hd.png</string>
        </dict>
    </dict>
</plist>
